@import '~office-ui-fabric-react/dist/sass/References.scss';

.aboutUsApp {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .commandbar {
    background-color: "[theme: infoBackground, default:#f3f2f1]";
    color: "[theme: TopBarText, default:#605e5c]";

    .button {
      border: 0;
      color: inherit;
      // margin: 0 10px;
    }
    .buttonPrimary {
      color: "[theme: primaryButtonBackground, default:#03787c]";
    }
  }


  .form {
    background-color: "[theme: BackgroundOverlay, default:rgba(255, 255, 255, 0.85)]";
    border-color: "[theme: dialogBorder, default:#f3f2f1]";
    border-radius: 0;
    border-width: 1px;
    font-size: 12pt;
    margin: auto;
    position: relative;
    text-align: center;

    .formHeader {
      background-color: "[theme: SuiteBarBackground, default:#03787c]";
      color: "[theme: SuiteBarText, default:#ffffff]";
      font-weight: 100;
      margin: 0;
      padding: .5em 0;
    }

    .formFieldsContainer {
      margin: 1em 0 2em 0;
    }

    .description {
      color: "[theme: inputPlaceholderText, default:#605e5c]";
      font-size: 11px;
    }

    ::placeholder {
      color: "[theme: disabledText, default:#a19f9d]" !important;
    }

    .fieldWrapper {
      font-size: inherit;
      padding: 5px 10px;
      position: relative;
      text-align: initial;

      label {
        // border-left: 3px solid;
        // border-left-color: "[theme: SuiteBarBackground, default:#03787c]";
        box-sizing: border-box;
        box-shadow: none;
        color: "[theme: SuiteBarBackground, default:#03787c]";
        display: block;
        font-family: inherit;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 5px 0 5px 5px;
        overflow-wrap: break-word;
      }

      .required::after {
        content: " *";
        color: "[theme: redDark, default:#a4262c]";
        padding-right: 12px;
      }

      .richTextWrapper {
        background-color: "[theme: inputBackground, default:#ffffff]";
        border-color: "[theme: inputBorder, default:#605e5c]";
        border-width: 1px;
        border-style: solid;
        color: "[theme: BodyText, default:#323130]";

        &:hover,
        &:focus,
        &:active {
          border-color: "[theme: inputBorderHovered, default:##323130]";
        }
      }
      .richTextWrapperError {
        border-color: "[theme: errorText, default:#a4262c]" !important;
      }
      .richtext {
        font-size: "[theme: mediumFontSize, default:14px]";

        // @PnP/SPFX-Controls-React RichText div outer wrapper
        :global(.quill) {
          font-size: inherit !important;

          // @PnP/SPFX-Controls-React RichText content container
          :global(.ql-editor) {
            font-size: inherit !important;
          }

          // @PnP/SPFX-Controls-React RichText placeholder
          :global(.ql-blank::before) {
            color: "[theme: disabledText, default:#a19f9d]";
            font-size: inherit !important;
          }
        }
      }

      .errorMessage {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
        color: "[theme: redDark, default:#a4262c]";
        margin: 0px;
        padding-top: 5px;
        display: flex;
        align-items: center;
      }
    }
  }
}
