@import '~office-ui-fabric-react/dist/sass/References.scss';

@mixin default-text-styles ($size: 14px, $weight: 400) {
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin default-section ($margin: 0 0 20px 0, $padding: 0) {
  @include default-text-styles;
  margin: $margin;
  padding: $padding;
}

@mixin default-icon-styles ($color: inherit, $display: inline-block, $margin: auto 10px auto auto) {
  color: $color;
  display: $display;
  margin: $margin
}

.aboutUsApp {
  margin: 0 20px;
  padding: 0;

  a:link,
  a:active,
  a:visited {
    color: "[theme: Hyperlink, default:#03787c]";
    text-decoration: none;
  }

  .commandbar {
    background-color: "[theme: infoBackground, default:#f3f2f1]";
    color: "[theme: TopBarText, default:#605e5c]";

    .button {
      background-color: transparent;
      border: 0;
      color: inherit;
      // margin: 0 10px;
    }
    .buttonPrimary {
      color: "[theme: primaryButtonBackground, default:#03787c]";
    }
  }


  .form {
    @include default-text-styles;
    background-color: "[theme: BackgroundOverlay, default:rgba(255, 255, 255, 0.85)]";
    border-color: "[theme: dialogBorder, default:#f3f2f1]";
    border-radius: 0;
    border-width: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 700px;
    position: relative;
    text-align: center;

    .formHeader {
      background-color: "[theme: SuiteBarBackground, default:#03787c]";
      color: "[theme: SuiteBarText, default:#ffffff]";
      font-weight: 100;
      margin: 0;
      padding: .5em 0;
    }

    .formFieldsContainer {
      margin: 1em 0 2em 0;
    }

    .fieldWrapper {
      font-size: inherit;
      padding: 5px 10px;
      position: relative;
      text-align: initial;

      label {
        @include default-text-styles($weight: 600);
        // border-left: 3px solid;
        // border-left-color: "[theme: SuiteBarBackground, default:#03787c]";
        box-sizing: border-box;
        box-shadow: none;
        color: "[theme: SuiteBarBackground, default:#03787c]";
        display: block;
        margin: 0;
        padding: 5px 0 5px 5px;
        overflow-wrap: break-word;
      }

      .required::after {
        content: " *";
        color: "[theme: redDark, default:#a4262c]";
        padding-right: 12px;
      }

      ::placeholder {
        color: "[theme: disabledText, default:#a19f9d]" !important;
      }

      .description,
      :global(.ms-TextField-description) {
        @include default-text-styles($weight: 100);
        color: "[theme: inputPlaceholderText, default:#605e5c]";
      }

      .richTextWrapper {
        background-color: "[theme: inputBackground, default:#ffffff]";
        border-color: "[theme: inputBorder, default:#605e5c]";
        border-width: 1px;
        border-style: solid;
        color: "[theme: BodyText, default:#323130]";

        &:hover,
        &:focus,
        &:active {
          border-color: "[theme: inputBorderHovered, default:##323130]";
        }
      }
      .richTextWrapperError {
        border-color: "[theme: errorText, default:#a4262c]" !important;
      }
      .richtext {
        @include default-text-styles;
    
        // @PnP/SPFX-Controls-React RichText div outer wrapper
        :global(.quill) {
          @include default-text-styles;
    
          // @PnP/SPFX-Controls-React RichText content container
          :global(.ql-editor) {
            @include default-text-styles;
          }

          // @PnP/SPFX-Controls-React RichText placeholder
          :global(.ql-blank::before) {
            color: "[theme: disabledText, default:#a19f9d]";
            @include default-text-styles();
          }
        }
      }

      .complexDataDisplayContainer {
        background-color: "[theme: disabledBackground, default:#f3f2f1]";
        border-color: "[theme: disabledBorder, default:#c8c6c4]";
        border-width: 1px;
        border-style: solid;
        color: "[theme: BodyText, default:#323130]";
        padding: 1em;
        margin: 5px 0;
      }

      .textboxWithButtonWrapper {
        background-color: "[theme: inputBackground, default:#ffffff]";
        border-color: "[theme: inputBorder, default:#605e5c]";
        border-width: 1px;
        border-style: solid;
        color: "[theme: BodyText, default:#323130]";
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        width: 300px;

        .textbox {
          border: none;
          margin: 0;
          padding-left: 5px;
          width: 100%;

          &:focus,
          &:active {
            outline: none;
          }
        }
        .button {
          height: inherit;
        }
      }

      .errorMessage {
        @include default-text-styles;
        -webkit-font-smoothing: antialiased;
        color: "[theme: redDark, default:#a4262c]";
        margin: 0px;
        padding-top: 5px;
        display: flex;
        align-items: center;
      }
    }
  }

  .defaultPageLayout {
    @include default-text-styles;
    background-color: "[theme: PageBackground, default:#ffffff]";
    display: grid;
    grid: 
      'messageSection messageSection'
      'menuSection menuSection'
      'headerSection headerSection'
      'bodySection sideSection'
      'footerSection footerSection';
    grid-gap: 10px;
    grid-template-columns: auto min-content;
    margin: 0;
    padding: 0;

    .messageSection {
      grid-area: messageSection;
      @include default-section($margin: 0);
      background-color: "[theme: EmphasisBackground, default:#03787c]";
      border-color: "[theme: EmphasisBorder, default:#025c5f]";
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      color: "[theme: EmphasisText, default:#ffffff]";
      font-size: "[theme: mediumPlusFontSize, default:16px]";
      font-weight: 100;
      padding: 5px 10px;

      &.isAlert {
        background-color: "[theme: errorBackground, default:#FDE7E9]";
        border-color: "[theme: errorText, default:#a4262c]";
        border-width: 2px;
        color: "[theme: errorText, default:#a4262c]";
        font-weight: 400;
        margin: 5px 10px;
      }
    }

    .menuSection {
      grid-area: menuSection;
      @include default-text-styles;
      font-size: small;

      .menu {
        color: "[theme: menuItemText, default:#323130]";
      }
      .icon {
        color: "[theme: menuIcon, default:#03787c]";
      }
    }

    .headerSection {
      grid-area: headerSection;
      display: grid;
      grid: 
        'logoSection breadcrumbSection searchSection'
        'logoSection header header';
      grid-gap: 10px;
      grid-template-columns: min-content auto min-content;
      @include default-text-styles;
      background-color: "[theme: HeaderBackground, default:rgba(255, 255, 255, 0.85)]";
      border-bottom: 3px solid;
      border-color: "[theme: themeAccentTranslucent10, default:rgba(0, 120, 212, 0.10)]";;
      padding-bottom: 10px;

      .logoSection {
        grid-area: logoSection;
        height: 110px;
        line-height: 100px;
        position: relative;
        text-align: center;
        width: 120px;

        .pageLogo {
          border: none;
          display: block;
          margin: auto;
          max-height: 100px;
          max-width: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform:translate(-50%,-50%);
        }
      }

      .breadcrumbSection {
        grid-area: breadcrumbSection;
      }

      .searchSection {
        grid-area: searchSection;
        height: min-content;
      }

      .header {
        grid-area: header;
        color: "[theme: HeaderText, default:#323130]";
      }    
    }

    .bodySection {
      grid-area: bodySection;
      @include default-text-styles;
      margin: 0;
      padding: 0;
    }

    .sideSection {
      grid-area: sideSection;
      @include default-text-styles;
      margin: 0;
      padding: 0;
    }

    .footerSection {
      grid-area: footerSection;
      @include default-text-styles;
      margin: 0;
      padding: 0;
    }
  }

  .menuSection {
    @include default-text-styles($size: small);

    .menuItem {
      padding: 2px 3px;

      &:hover {
        background-color: inherit;
      }
    }
  }

  .breadcrumbSection {
    @include default-text-styles;
    box-sizing: border-box;
    left: 0;
    position: relative;
    top: 0;

    .topBreadcrumbList {
      color: "[theme: Navigation, default:#605e5c]";
      font-weight: 600;
      list-style: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;

      .breadcrumbItem {
        color: "[theme: Navigation, default:#605e5c]";
        white-space: break-spaces;

        .breadcrumbText {
          text-decoration: none;
        }

        &:hover .subBreadcrumbContainer {
          display: block;
          opacity: 1;
          transition: opacity 250ms linear;
        }

      }

      .topBreadcrumbItem {
        color: inherit !important;
        display: inline-block;
        margin-right: 20px;
        
        // &:not(:last-child) > .breadcrumbText::after {
        //   content: "\25B8";
        //   display: inline-block;
        //   margin-left: 10px;
        //   margin-right: 10px;
        // }

        &.hasSubmenu {
          margin-right: 0;
        }

        &.hasSubmenu > .breadcrumbText::after {
          content: "\25BE";
          display: inline-block;
          margin-left: 3px;
          margin-right: 10px;
        }
      }

      .subBreadcrumbContainer {
        background-color: "[theme: themeLighter, default:#deecf9]";
        border-left: 3px solid;
        border-left-color: "[theme: NavigationAccent, default:#03787c]";
        border-top: 0;
        display: none;
        font-weight: normal;
        margin-left: -5px;
        max-height: 600px;
        opacity: 0;
        overflow: hidden auto;
        position: absolute;
        transition: opacity 250ms linear;
        width: 300px;
        z-index: 100;

        .subBreadcrumbList {
          list-style: none;
          margin: 0;
          padding: 0;

          .subBreadcrumbItem {
            display: block;
            margin: 10px 5px;
          }
        }
      }
    }
  }

  .sectionBanner {
    @include default-text-styles($size: "[theme: mediumPlusFontSize, default:16px]");
    background-color: "[theme: HeaderAccentLines, default:#13898d]";
    color: "[theme: HeaderBackground, default:rgba(255, 255, 255, 0.85)]";
    margin: 20px 0 0 0;
    padding: 3px 0 3px 5px;
  }

  .headerText {
    display: block;
    font-size: "[theme: xxLargeFontSize, default:28px]";
    font-weight: 100;
    margin: 3px;
    padding: 0;
  }
  .subtitle {
    color: "[theme: HeaderSubtleText, default:#8a8886]";
    font-size: "[theme: mediumFontSize, default:14px]";
  }

  .missionContainer {
    @include default-section;
    border-top: 5px solid;
    border-color: "[theme: HeaderAccentLines, default:#13898d]";
    font-size: "[theme: mediumPlusFontSize, default:16px]";

    &.showLabel {
      &::before {
        content: attr(data-label);
        font-size: "[theme: mediumPlusFontSize, default:16px]";
        font-weight: 600;
        margin-right: 1em;
      }
    }
  }

  .tasksContainer {
    @include default-section;

    &.showLabel {
      &::before {
        content: attr(data-label);
        font-weight: 600;
        margin-right: 1em;
      }
    }
  }

  .contentContainer {
    @include default-text-styles($size: "[theme: mediumPlusFontSize, default:16px]");
    border-top: 5px solid;
    border-color: "[theme: HeaderLines, default:#a19f9d]";
  }

  .subContentContainer {
    @include default-section($margin: 20px 10px, $padding: 0 10px);
    background-color: "[theme: HoverBackground, default:rgba(197, 233, 234, 0.50)]";
    border-color: "[theme: HeaderLines, default:#a19f9d]";
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 5px 1px 1px 1px;
    font-size: small;
  }

  .keywordsContainer {
    @include default-section;
  }

  .biosContainer {
    @include default-text-styles;
    @include default-section($margin: 0 auto);
    background-color: "[theme: HoverBackground, default:rgba(197, 233, 234, 0.50)]";
    border-color: "[theme: HeaderAccentLines, default:#13898d]";
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 5px 1px 1px 1px;
    text-align: center;
  }

  .linksContainer {
    @include default-section;
  }

  .sopsContainer {
    @include default-section;
  }

  .contactsContainer {
    @include default-section;
  }

  .officeInformationContainer {
    @include default-text-styles;
    padding: 0;
    width: 300px;

    .officeInfo {
      @include default-section;

      .officeLabel {
        font-weight: 600;
      }
    }
  }

  .locationContainer {
    @include default-text-styles;
  }

  .addressContainer {
    @include default-text-styles;
    white-space: pre-wrap;
  }

  .phoneContainer {
    @include default-text-styles;
  }

  .dsnContainer {
    @include default-text-styles;
  }

  .faxContainer {
    @include default-text-styles;
  }

  .signatureBlockContainer {
    @include default-text-styles;
    white-space: pre-wrap;
  }

  .contentManagersContainer {
    @include default-text-styles;

    .email {
      display: inline-block;
    }

    .contentManagersList {
      list-style: none;
      margin: 3px 10px;
      padding: 0;

      > li {
        display: inline-block;
        margin: 3px 10px 3px 10px;
      }
    }

    .contentManagersMessage {
      color: "[theme: CommandLinks, default:#605e5c]";
      font-style: italic;
    }
  }

  .validatedContainer {
    @include default-text-styles;
    margin-top: 20px;

    .validatedText {
      color: "[theme: CommandLinks, default:#605e5c]";
      font-style: italic;
    }

    .validateButton {
      background-color: "[theme: ButtonHoverBackground, default:#c5e9ea]";
      border-color: "[theme: ButtonHoverBorder, default:#98d6d8]";
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      margin: 10px 0;
    }
    .validatedGood {
      color: "[theme: successText, default:#107C10]";
      background-color: "[theme: successBackground, default:#DFF6DD]";
      border-color: "[theme: successText, default:#107C10]";
    }
    .validatedWarning {
      color: "[theme: warningText, default:#323130]";
      background-color: "[theme: warningBackground, default:#FFF4CE]";
      border-color: "[theme: warningHighlight, default:#ffb900]";
    }
    .validatedExpired {
      color: "[theme: errorText, default:#a4262c]";
      background-color: "[theme: errorBackground, default:#FDE7E9]";
      border-color: "[theme: errorIcon, default:#A80000]";
    }
  }

  .searchContainer {
    @include default-text-styles($size: 12px);
    display: block;
    margin: 0;
    position: relative;

    .searchboxWrapper {
      border-width: 1px;
      border-style: solid;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      width: 250px;

      .searchbox {
        border: none;
        height: 20px;
        margin: 0;
        padding-left: 5px;
        width: 100%;

        &::placeholder {
          font-style: italic;
        }

        &:focus,
        &:active {
          outline: none;
        }
      }
      .button {
        height: 20px;
        vertical-align: middle;
      }
    }

    .searchResultsWrapper {
      background-color: "[theme: menuBackground, default:#ffffff]";
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top: 0;
      box-shadow: 7px 5px 5px -3px rgba(92,92,92,0.4), 0px 5px 10px rgba(92,92,92,0.6), -7px 5px 5px -3px rgba(92,92,92,0.4);
      font-weight: normal;
      margin-left: 0;
      max-height: 600px;
      overflow: hidden auto;
      position: absolute;
      width: 250px;
      z-index: 100;

      .searchResultsList {
        list-style: none;
        margin: 0;
        padding: 0;

        .searchResult {
          display: block;
          margin: 10px 5px;
        }
      }
    }

  }
}

/**************************************************************/
/** ABOUT US DISPLAY COMPLEX DATA ITEMS WITH SORTING ABILITY **/
/** This needs to be at the top level (not nested) because dragged elements
 **  are copied to the BODY and will lose any nested references. **/

/** ICON **/
.fabricUIIcon {
  @include default-icon-styles($color: "[theme: HeaderText, default:#323130]");
}

/** TASK ITEMS **/
.aboutUsTaskItem {
  @include default-text-styles;
  margin: 3px 5px;
  vertical-align: top;

  .task {
    &::before {
      content: "\2605"; // black star
      margin-right: 10px;
    }

  }

  .taskAuthContainer {
    display: block;
    margin-left: 20px;
    margin-top: -3px;
    word-break: break-word;

    .taskAuthText {
      color: "[theme: neutralSecondaryAlt, default:#8a8886]";
      font-size: small;
      font-style: italic;
    }
  }
}

/** BIO ITEMS **/
.aboutUsBioItem {
  @include default-text-styles;
  display: inline-block;
  margin: 5px auto 15px auto !important;
  padding: 0;
  text-align: center;
  width: 280px;
  vertical-align: top;

  .bioPosition {
    font-weight: 600;
    margin: 0 0 3px 0;
  }

  .bioImgContainer {
    text-align: center;

    .bioImg {
      max-width: 200px;
      max-height: 250px;
      border-radius: 5px;
    }
  }

  .bioNameContainer {
    .bioLink {
      display: block;
    }

    .bioName {
      color: inherit;
    }
  }

  .bioSubtitle {
    color: inherit;
  }
}

/** LINK & SOP ITEMS **/
.aboutUsLinkItem {
  @include default-text-styles;
  display: inline-block;
  margin: 3px 5px;
  width: 300px;
  vertical-align: top;

  .link {
    display: block;
    word-break: break-all;

  }
}

/** CONTACT ITEMS **/
.aboutUsContactItem {
  @include default-text-styles;
  border: 1px solid transparent;
  border-radius: 5px;
  color: "[theme: CommandLinks, default:#605e5c]";
  display: inline-block;
  margin: 15px !important;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 273px;
  word-break: break-word;

  &:hover {
    // background-color: "[theme: HoverBackground, default:rgba(197, 233, 234, 0.50)]";
    border-color: "[theme: inputBorderHovered, default:#323130]";

    .nameContainer {
      background-color: "[theme: HoverBackground, default:rgba(197, 233, 234, 0.50)]";
    }
  }

  .nameContainer {
    border-bottom: 1px solid "[theme: neutralTertiary, default:#a19f9d]";
    color: "[theme: neutralPrimary, default:#323130]";
    display: block;
    text-align: center;

    .title {
      font-size: .9em;
      font-weight: 200;
    }
    .name {
      font-size: 1.2em;
      font-weight: 500;
    }
  }

  .link {
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
  }

  .redContactsText {
    color: "[theme: redDark, default:#a4262c]";
  }

  .phoneContainer {
    display: block;

    .phone {
      display: inline-block;
      margin: auto 5px;
      white-space: nowrap;
    }
  }

  .location {
    display: block;
  }
}

/** COMPLEX DATA - COMMAND BAR WITH EDIT & DELETE BUTTONS **/
.aboutUsDisplayItemCommandBar {
  background-color: transparent;
  visibility: hidden;

  :global(.ms-CommandBar) {
    background-color: inherit;
    padding: 0;

    :global(.ms-CommandBar-primaryCommand) > div {
      margin: 0 5px;
    }
  }
}

/** TAGS AND KEYWORDS **/
.aboutUsKeywordItem {
  @include default-text-styles;
  display: inline-block !important;
  margin: 3px 15px;
  vertical-align: top;

  .keyword {
    @include default-text-styles;
    word-break: break-word;

    .button {
      background-color: transparent;
      border: none;
      display: block;
      float: right;
      height: inherit;
      margin: 2px 0;
      position: relative;
      visibility: hidden;
      z-index: 100;
    }
  }

  &:hover {
    .button {
      visibility: visible;
    }
  }
}

/** REACT-EASY-SORT **/
.aboutUsSortableList {
  user-select: none;
}
.aboutUsSortableItem {
  @include default-text-styles;
  border: 1px solid transparent;
  border-radius: 1em;
  cursor: grab;
  display: block;
  margin: 5px;
  padding: 5px;
  user-select: none;

  img {
    user-select: none;
    cursor: default;
  }

  &:hover {
    background-color: "[theme: HoverBackground, default:rgba(197, 233, 234, 0.50)]";
    border-color: "[theme: inputBorderHovered, default:#323130]";

    .aboutUsDisplayItemCommandBar {
      visibility: visible;
    }
  }
}
.aboutUsSortableItemDragged {
  opacity: .5;
}
/********/